body, html {
    height: 100%;
    font-family: 'Varela Round', sans-serif;
}

#left {
    position: fixed;
    top: 0;
    bottom: 0;
}
.title-form{
    font-size: 1.5rem;
    font-weight: lighter !important;
    text-align: center;
    border-bottom: #000000 solid 1px;
    margin-bottom: 20px;
}
.title-form img{
    margin-bottom: 15px;
}
.col-form-label{
    padding-left: 0 !important;
}
.wondefull-bg{
    background: #36D1DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.form-control,.Select {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.dd{
    border: #000000 solid 2px;
}

.my-auto-costume{
    margin-top: 10px;
}

@media (max-width: 480px) {
    .mobile-hide{
        display: none;
    }
    .padding-mobile{
        padding-left: 20px;
    }
    .my-auto-costume{
        margin-top: 5px;
    }
    .style-mobile{
        background: #36D1DC;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color: #ffffff;
    }
    .title-form{
        border-bottom: #ffffff solid 0.5px;
    }

    .mobileButtonSubmit .button-submit{
        text-align: center;
    }
   
}
@media (min-width: 480px){
    .desktop-hide{
        display: none;
    }    
}

footer{
    margin-top: 50px;
    margin-bottom: 10px;
}